@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #565656;
  line-height: 1.4;
  background-color: #333;
}

img {
  display: block;
  width: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 40px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  header {
    height: 80px;
  }
}
header .logo {
  display: block;
  width: 20%;
  max-width: 130px;
  margin-left: 10px;
}
@media (min-width: 576px) {
  header .logo {
    width: 12%;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  header .logo {
    width: 16%;
    margin-left: 40px;
  }
}
header .menu {
  display: block;
  width: 50px;
  height: 100%;
  background: url(../images/menu_open.png) no-repeat center center;
  background-size: cover;
}
@media (min-width: 992px) {
  header .menu {
    width: 100px;
  }
}
header .menu.open {
  background: url(../images/menu_close.png) no-repeat center center;
  background-size: cover;
}
header .menu.back {
  background: url(../images/menu_back.png) no-repeat center center;
  background-size: cover;
}
header nav {
  position: fixed;
  left: 100%;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px 30px;
  background: #efefef;
  -webkit-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
}
@media (min-width: 992px) {
  header nav {
    top: 80px;
    width: 430px;
    height: calc(100% - 80px);
    padding: 50px;
  }
}
header nav.open {
  left: 0;
}
@media (min-width: 992px) {
  header nav.open {
    left: calc(100% - 430px);
  }
}
header nav .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
header nav .title .pic {
  position: absolute;
  left: 10px;
  bottom: -4px;
  width: 122px;
}
@media (min-width: 992px) {
  header nav .title .pic {
    left: -20px;
    width: 162px;
  }
}
header nav .title .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: right;
}
header nav .title .text-sub {
  color: #e63c54;
  font-size: 12px;
  padding-right: 2px;
  margin-bottom: 2px;
}
header nav .title .text-main {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: #e60012;
  padding-bottom: 2px;
  margin-left: 70px;
}
@media (min-width: 992px) {
  header nav .title .text-main {
    font-size: 22px;
    margin-left: 60px;
  }
}
header nav .navigate {
  margin-bottom: 24px;
}
header nav .navigate a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
header nav .navigate a .pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84px;
          flex: 0 0 84px;
}
@media (min-width: 992px) {
  header nav .navigate a .pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 114px;
            flex: 0 0 114px;
  }
}
header nav .navigate a .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: right;
  border-bottom: 1px solid #e63c54;
}
header nav .navigate a .text-sub {
  color: #e63c54;
  font-size: 12px;
  padding-right: 2px;
  margin-bottom: 2px;
}
header nav .navigate a .text-main {
  color: #565656;
  font-size: 16px;
  letter-spacing: 2px;
}
@media (min-width: 992px) {
  header nav .navigate a .text-main {
    font-size: 18px;
  }
}
header nav .navigate a:nth-child(even) .pic {
  margin-left: 20%;
}
@media (min-width: 992px) {
  header nav .navigate a:nth-child(even) .pic {
    margin-left: 14%;
  }
}
header nav .navigate a:nth-child(odd) .pic {
  margin-left: 10%;
}
@media (min-width: 992px) {
  header nav .navigate a:nth-child(odd) .pic {
    margin-left: 4%;
  }
}
header nav .btn-change-color {
  display: block;
  position: relative;
  text-decoration: none;
}
header nav .btn-change-color .pic {
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
}
header nav .btn-change-color .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 10px 0;
  background: #e60012;
}
header nav .btn-change-color .text-main {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
}
@media (min-width: 992px) {
  header nav .btn-change-color .text-main {
    font-size: 22px;
  }
}
header nav .btn-change-color .text-icon {
  margin: 0 10px;
  width: 18px;
}

.main {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  background-color: #8b724a;
}
@media (min-width: 992px) {
  .main {
    top: 80px;
    height: calc(100% - 80px);
  }
}
.main .map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.main .map .city {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  min-height: 800px;
  background-color: rgba(144, 238, 144, 0.6);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  overflow: hidden;
}
@media (min-width: 992px) {
  .main .map .city {
    min-width: 1600px;
  }
}
.main .map .city .scale-container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  height: 100%;
  background: url(../images/city.png) no-repeat center center;
  background-size: auto 100%;
}
@media (min-width: 992px) {
  .main .map .city .scale-container {
    height: 130%;
  }
}
.main .map .city .scale-container .ratio-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.main .map .city .scale-container .road {
  position: absolute;
  left: 1.4%;
  top: -14%;
  width: 97.3%;
  z-index: 10;
  opacity: 0.8;
}
.main .map .city .scale-container .river {
  position: absolute;
  left: 75.9%;
  top: 35.7%;
  width: 18.7%;
  z-index: 10;
}
.main .map .city .scale-container .mountain-1 {
  position: absolute;
  left: 4.3%;
  top: 10.1%;
  width: 48.1%;
  z-index: 10;
}
.main .map .city .scale-container .mountain-2 {
  position: absolute;
  left: 51.8%;
  top: 2.7%;
  width: 21.2%;
  z-index: 10;
}
.main .map .city .scale-container .mountain-3 {
  position: absolute;
  left: 64.8%;
  top: 12.8%;
  width: 32%;
  z-index: 10;
}
.main .map .city .scale-container .mountain-4 {
  position: absolute;
  left: 57.2%;
  top: 53.4%;
  width: 34.2%;
  z-index: 53;
}
.main .map .city .scale-container .building-school {
  position: absolute;
  left: 30.7%;
  top: 30.7%;
  width: 13.6%;
  z-index: 20;
}
.main .map .city .scale-container .building-ysp {
  position: absolute;
  left: 41.5%;
  top: 26.9%;
  width: 7.7%;
  z-index: 20;
}
.main .map .city .scale-container .building-stadium {
  position: absolute;
  left: 46.5%;
  top: 17.7%;
  width: 12.4%;
  z-index: 20;
}
.main .map .city .scale-container .building-cinemas {
  position: absolute;
  left: 58.6%;
  top: 31.4%;
  width: 10.2%;
  z-index: 30;
}
.main .map .city .scale-container .building-gas-station {
  position: absolute;
  left: 64.3%;
  top: 41.3%;
  width: 10.5%;
  z-index: 50;
}
.main .map .city .scale-container .building-mall {
  position: absolute;
  left: 58.2%;
  top: 49.3%;
  width: 9.7%;
  z-index: 68;
}
.main .map .city .scale-container .building-community {
  position: absolute;
  left: 51%;
  top: 57.8%;
  width: 10.9%;
  z-index: 70;
}
.main .map .city .scale-container .building-street {
  position: absolute;
  left: 44.7%;
  top: 66.6%;
  width: 16.8%;
  z-index: 80;
}
.main .map .city .scale-container .building-good-home {
  position: absolute;
  left: 39%;
  top: 57.2%;
  width: 8.8%;
  z-index: 65;
}
.main .map .city .scale-container .building-store {
  position: absolute;
  left: 33%;
  top: 52.2%;
  width: 8.6%;
  z-index: 60;
}
.main .map .city .scale-container .building-center {
  position: absolute;
  left: 39%;
  top: 34%;
  width: 23%;
  z-index: 53;
}
.main .map .city .scale-container .bike-road-1 {
  position: absolute;
  left: 40.6%;
  top: 67%;
  width: 1.8%;
  z-index: 70;
}
.main .map .city .scale-container .bike-road-2 {
  position: absolute;
  left: 43.5%;
  top: 69%;
  width: 2%;
  z-index: 66;
}
.main .map .city .scale-container .bike-road-3 {
  position: absolute;
  left: 61.5%;
  top: 45.5%;
  width: 2%;
  z-index: 35;
}
.main .map .city .scale-container .bike-road-4 {
  position: absolute;
  left: 55.5%;
  top: 36.5%;
  width: 2%;
  z-index: 25;
}
.main .map .city .scale-container .bike-road-5 {
  position: absolute;
  left: 61.8%;
  top: 28%;
  width: 2%;
  z-index: 25;
}
.main .map .city .scale-container .bike-road-6 {
  position: absolute;
  left: 59.3%;
  top: 26%;
  width: 1.8%;
  z-index: 25;
}
.main .map .city .scale-container .bike-road-7 {
  position: absolute;
  left: 51.8%;
  top: 33.5%;
  width: 2%;
  z-index: 25;
}
.main .map .city .scale-container .bike-road-8 {
  position: absolute;
  left: 48.9%;
  top: 31.9%;
  width: 1.8%;
  z-index: 25;
}
.main .map .city .scale-container .bike-road-9 {
  position: absolute;
  left: 31%;
  top: 55.2%;
  width: 1.8%;
  z-index: 70;
}
.main .map .city .scale-container .car-l {
  position: absolute;
  left: 78.8%;
  top: 68.6%;
  width: 2%;
  z-index: 51;
}
.main .map .city .scale-container .car-r {
  position: absolute;
  left: 52.8%;
  top: 35%;
  width: 2%;
  z-index: 25;
}
.main .map .city .scale-container .bus-r {
  position: absolute;
  left: 14%;
  top: 55.8%;
  width: 3.6%;
  z-index: 53;
}
.main .map .city .scale-container .bus-t {
  position: absolute;
  left: 29.4%;
  top: 39%;
  width: 3.6%;
  z-index: 55;
}
.main .map .city .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: hotpink;
}

.select-bike {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select-bike .select-container {
  max-width: 320px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .select-bike .select-container {
    max-width: 700px;
  }
}
.select-bike .select-container-head {
  background: #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
}
@media (min-width: 992px) {
  .select-bike .select-container-head {
    padding: 0 1rem;
  }
}
.select-bike .select-container-head .title {
  margin: 1rem;
}
.select-bike .select-container-head .talk {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.select-bike .select-container-head .talk-2 {
  display: none;
}
.select-bike .select-container-step {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
}
@media (min-width: 992px) {
  .select-bike .select-container-step {
    padding: 2rem;
  }
}
.select-bike .select-container-step p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3a3a3a;
}
.select-bike .select-container-step ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}
.select-bike .select-container-step ul li {
  border-radius: 10px;
  border: 2px solid #d7d7d7;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.select-bike .select-container-step ul li.active {
  border: 2px solid #e60012;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.select-bike .select-container-step a {
  color: #fff;
  background: #e60012;
  border-radius: 50px;
  padding: 8px 60px;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 992px) {
  .select-bike .select-container-step a {
    padding: 8px 80px;
  }
}
.select-bike .select-container .step-2 > ul {
  display: none;
}

.grid {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 200;
  pointer-events: none;
}
@media (min-width: 992px) {
  .grid {
    top: 80px;
    height: calc(100% - 80px);
  }
}
.grid .vertical, .grid .horizontal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.grid .vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid .vertical .line {
  width: 1px;
  height: 100%;
  background: green;
}
.grid .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid .horizontal .line {
  width: 100%;
  height: 1px;
  background: green;
}