@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import 'common/_reset';
@import 'common/_variables';

*{
  box-sizing: border-box;
}

html{
  font-size: 12px;

  @media (min-width: $media_lg) {
    font-size: 16px;
  }
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  color: #565656;
  line-height: 1.4;
  background-color: #333;
}

img{
  display: block;
  width: 100%;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $media_lg) {
    height: 80px;
  }

  .logo{
    display: block;
    width: 20%;
    max-width: 130px;
    margin-left: 10px;

    @media (min-width: $media_sm) {
      width: 12%;
      margin-left: 10px;
    }

    @media (min-width: $media_lg) {
      width: 16%;
      margin-left: 40px;
    }
  }

  .menu{
    display: block;
    width: 50px;
    height: 100%;
    background: url(../images/menu_open.png) no-repeat center center;
    background-size: cover;

    @media (min-width: $media_lg) {
      width: 100px;
    }

    &.open{
      background: url(../images/menu_close.png) no-repeat center center;
      background-size: cover;
    }

    &.back{
      background: url(../images/menu_back.png) no-repeat center center;
      background-size: cover;
    }
  }

  nav{
    position: fixed;
    left: 100%;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px 30px;
    background: #efefef;
    transition: left .4s ease-out;

    @media (min-width: $media_lg) {
      top: 80px;
      width: 430px;
      height: calc(100% - 80px);
      padding: 50px;
    }

    &.open{
      left: 0;

      @media (min-width: $media_lg) {
        left: calc(100% - 430px);
      }
    }

    .title{
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem 0;

      .pic{
        position: absolute;
        left: 10px;
        bottom: -4px;
        width: 122px;

        @media (min-width: $media_lg) {
          left: -20px;
          width: 162px;
        }
      }

      .text{
        flex: 1 0 auto;
        text-align: right;

        &-sub{
          color: #e63c54;
          font-size: 12px;
          padding-right: 2px;
          margin-bottom: 2px;
        }

        &-main{
          color: #fff;
          font-size: 18px;
          letter-spacing: 2px;
          background: #e60012;
          padding-bottom: 2px;
          margin-left: 70px;

          @media (min-width: $media_lg) {
            font-size: 22px;
            margin-left: 60px;
          }
        }
      }
    }

    .navigate{
      margin-bottom: 24px;

      a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
  
        .pic{
          flex: 0 0 84px;

          @media (min-width: $media_lg) {
            flex: 0 0 114px;
          }
        }
  
        .text{
          flex: 1 0 auto;
          text-align: right;
          border-bottom: 1px solid #e63c54;
  
          &-sub{
            color: #e63c54;
            font-size: 12px;
            padding-right: 2px;
            margin-bottom: 2px;
          }
  
          &-main{
            color: #565656;
            font-size: 16px;
            letter-spacing: 2px;

            @media (min-width: $media_lg) {
              font-size: 18px;
            }
          }
        }
  
        &:nth-child(even){
          .pic{
            margin-left: 20%;

            @media (min-width: $media_lg) {
              margin-left: 14%;
            }
          }
        }

        &:nth-child(odd){
          .pic{
            margin-left: 10%;

            @media (min-width: $media_lg) {
              margin-left: 4%;
            }
          }
        }
      }
    }

    .btn-change-color{
      display: block;
      position: relative;
      text-decoration: none;

      .pic{
        position: absolute;
        left: 4%;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
      }

      .text{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 0 10px 0;
        background: #e60012;

        &-main{
          color: #fff;
          font-size: 18px;
          letter-spacing: 2px;

          @media (min-width: $media_lg) {
            font-size: 22px;
          }
        }

        &-icon{
          margin: 0 10px;
          width: 18px;
        }
      }
    }
  }
}

.main{
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  background-color: #8b724a;

  @media (min-width: $media_lg) {
    top: 80px;
    height: calc(100% - 80px);
  }
  
  .map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;

    .city{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      min-width: 1000px;
      height: 100%;
      min-height: 800px;
      background-color: rgba(144, 238, 144, 0.6);
      transition: all .8s ease-out;
      overflow: hidden;

      @media (min-width: $media_lg) {
        min-width: 1600px;
      }
    
      // mobile & pc 比例透過高度的百分比來調整
      .scale-container{
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        height: 100%;
        background: url(../images/city.png) no-repeat center center;
        background-size: auto 100%;

        @media (min-width: $media_lg) {
          height: 130%;
        }

        .ratio-container{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto; // 用 JS 計算符合高度等比例的寬 2800 / 1302 = 2.15
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .road{
          position: absolute;
          left: 1.4%;
          top: -14%;
          width: 97.3%;
          z-index: 10;
          opacity: 0.8;
        }

        .river{
          position: absolute;
          left: 75.9%;
          top: 35.7%;
          width: 18.7%;
          z-index: 10;
        }

        .mountain-1{
          position: absolute;
          left: 4.3%;
          top: 10.1%;
          width: 48.1%;
          z-index: 10;
        }

        .mountain-2{
          position: absolute;
          left: 51.8%;
          top: 2.7%;
          width: 21.2%;
          z-index: 10;
        }

        .mountain-3{
          position: absolute;
          left: 64.8%;
          top: 12.8%;
          width: 32%;
          z-index: 10;
        }

        .mountain-4{
          position: absolute;
          left: 57.2%;
          top: 53.4%;
          width: 34.2%;
          z-index: 53;
        }

        .building-school{
          position: absolute;
          left: 30.7%;
          top: 30.7%;
          width: 13.6%;
          z-index: 20;
        }

        .building-ysp{
          position: absolute;
          left: 41.5%;
          top: 26.9%;
          width: 7.7%;
          z-index: 20;
        }

        .building-stadium{
          position: absolute;
          left: 46.5%;
          top: 17.7%;
          width: 12.4%;
          z-index: 20;
        }

        .building-cinemas{
          position: absolute;
          left: 58.6%;
          top: 31.4%;
          width: 10.2%;
          z-index: 30;
        }

        .building-gas-station{
          position: absolute;
          left: 64.3%;
          top: 41.3%;
          width: 10.5%;
          z-index: 50;
        }

        .building-mall{
          position: absolute;
          left: 58.2%;
          top: 49.3%;
          width: 9.7%;
          z-index: 68;
        }

        .building-community{
          position: absolute;
          left: 51%;
          top: 57.8%;
          width: 10.9%;
          z-index: 70;
        }

        .building-street{
          position: absolute;
          left: 44.7%;
          top: 66.6%;
          width: 16.8%;
          z-index: 80;
        }

        .building-good-home{
          position: absolute;
          left: 39%;
          top: 57.2%;
          width: 8.8%;
          z-index: 65;
        }

        .building-store{
          position: absolute;
          left: 33%;
          top: 52.2%;
          width: 8.6%;
          z-index: 60;
        }

        .building-center{
          position: absolute;
          left: 39%;
          top: 34%;
          width: 23%;
          z-index: 53;
        }

        .bike-road-1{
          position: absolute;
          left: 40.6%;
          top: 67%;
          // left: 42.6%;
          // top: 69.6%;
          width: 1.8%;
          z-index: 70;
        }

        .bike-road-2{
          position: absolute;
          left: 43.5%;
          top: 69%;
          // left: 61.6%;
          // top: 46.6%;
          width: 2%;
          z-index: 66;
        }

        .bike-road-3{
          position: absolute;
          left: 61.5%;
          top: 45.5%;
          // left: 55.5%;
          // top: 38%;
          width: 2%;
          z-index: 35;
        }

        .bike-road-4{
          position: absolute;
          left: 55.5%;
          top: 36.5%;
          // left: 61.8%;
          // top: 29.2%;
          width: 2%;
          z-index: 25;
        }

        .bike-road-5{
          position: absolute;
          left: 61.8%;
          top: 28%;
          // left: 60%;
          // top: 26%;
          width: 2%;
          z-index: 25;
        }

        .bike-road-6{
          position: absolute;
          left: 59.3%;
          top: 26%;
          // left: 52.8%;
          // top: 34%;
          width: 1.8%;
          z-index: 25;
        }

        .bike-road-7{
          position: absolute;
          left: 51.8%;
          top: 33.5%;
          // left: 49.8%;
          // top: 31%;
          width: 2%;
          z-index: 25;
        }

        .bike-road-8{
          position: absolute;
          left: 48.9%;
          top: 31.9%;
          // left: 30.9%;
          // top: 53.9%;
          width: 1.8%;
          z-index: 25;
        }

        .bike-road-9{
          position: absolute;
          left: 31%;
          top: 55.2%;
          // left: 42.6%;
          // top: 69.6%;
          width: 1.8%;
          z-index: 70;
        }

        .car-l{
          position: absolute;
          left: 78.8%;
          top: 68.6%;
          // left: 52.6%;
          // top: 36%;
          width: 2%;
          z-index: 51;
        }

        .car-r{
          position: absolute;
          left: 52.8%;
          top: 35%;
          // left: 79.8%;
          // top: 1.6%;
          width: 2%;
          z-index: 25;
        }

        .bus-r{
          position: absolute;
          left: 14%;
          top: 55.8%;
          // left: 27%;
          // top: 39.6%;
          width: 3.6%;
          z-index: 53;
        }

        .bus-t{
          position: absolute;
          left: 29.4%;
          top: 39%;
          // left: 78.8%;
          // top: 100%;
          width: 3.6%;
          z-index: 55;
        }

      }
    
      .dot{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: hotpink;
      }
    }
  }
}

.select-bike{
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  .select-container{
    max-width: 320px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: $media_lg) {
      max-width: 700px;
    }

    &-head{
      background: #e1e1e1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5rem;

      @media (min-width: $media_lg) {
        padding: 0 1rem;
      }

      .title{
        margin: 1rem;
      }

      .talk{
        align-self: flex-end;
      }

      .talk-2{
        display: none;
      }
    }

    &-step{
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 1rem;

      @media (min-width: $media_lg) {
        padding: 2rem;
      }

      p{
        font-size: 1.3rem;
        font-weight: bold;
        color: #3a3a3a;
      }

      ul{
        display: flex;
        gap: 1rem;
        margin: 1.5rem 0;

        li{
          border-radius: 10px;
          border: 2px solid #d7d7d7;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
          transition: all .3s;
          cursor: pointer;

          &.active{
            border: 2px solid #e60012;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }

      a{
        color: #fff;
        background: #e60012;
        border-radius: 50px;
        padding: 8px 60px;
        font-weight: bold;
        text-decoration: none;

        @media (min-width: $media_lg) {
          padding: 8px 80px;
        }
      }
    }

    & .step-2 > ul{
      display: none;
    }
  }
}

.grid{
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 200;
  pointer-events: none;

  @media (min-width: $media_lg) {
    top: 80px;
    height: calc(100% - 80px);
  }

  .vertical, .horizontal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .vertical{
    display: flex;
    justify-content: space-between;

    .line{
      width: 1px;
      height: 100%;
      background: green;
    }
  }

  .horizontal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line{
      width: 100%;
      height: 1px;
      background: green;
    }
  }
}
        