doctype html
html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(type="text/css" rel="stylesheet" href="css/index.css")
  body 
    header 
      a.logo(href="#")
        img(src="images/logo.png", alt="Yamaha")
      a.menu(href="#")
      nav 
        a.title(href="https://www.yamaha-motor.com.tw/", target="_blank")
          .pic 
            img(src="images/nav_icon.png", alt="")
          .text 
            .text-sub Campaign
            .text-main 母親節照片募集活動
        .navigate
          a(href="page/index.html")
            .pic 
              img(src="images/nav_icon_1.png", alt="")
            .text 
              .text-sub YAMAHA YSP
              .text-main 車款介紹
          a(href="https://www.yamaha-motor.com.tw/", target="_blank")
            .pic 
              img(src="images/nav_icon_2.png", alt="")
            .text 
              .text-sub Cinema
              .text-main 本篇影片
          a(href="#", data-popup="good_home")
            .pic 
              img(src="images/nav_icon_3.png", alt="")
            .text 
              .text-sub 郝家
              .text-main 郝家在人物簡介
          a(href="#", data-popup="stadium")
            .pic 
              img(src="images/nav_icon_4.png", alt="")
            .text 
              .text-sub Football field
              .text-main 全家一起出去玩！
          a(href="#", data-popup="mall")
            .pic 
              img(src="images/nav_icon_5.png", alt="")
            .text 
              .text-sub Mall
              .text-main 血拚囉！
          a(href="#", data-popup="school")
            .pic 
              img(src="images/nav_icon_6.png", alt="")
            .text 
              .text-sub School
              .text-main 開開心心上學去！
        a.btn-change-color(href="#")
          .pic 
            img(src="images/nav_bike.png", alt="")
          .text 
            .text-main 車款車色選擇
            .text-icon 
              img(src="images/nav_icon_change.png", alt="")
             
    .main
      .map
        .city
          .scale-container 
            .ratio-container
              //- 道路
              .road 
                img(src="images/road_1.png", alt="道路")
              //- 河流
              .river 
                img(src="images/river.png", alt="河流")
              //- 農田1
              .farm-1 
                img(src="images/farm_1.png", alt="農田")
              //- 農田2
              .farm-2 
                img(src="images/farm_2.png", alt="農田")
              //- 農田3
              .farm-3 
                img(src="images/farm_3.png", alt="農田")
              //- 農田4
              .farm-4 
                img(src="images/farm_2.png", alt="農田")
              //- 農田5
              .farm-5
                img(src="images/farm_4.png", alt="農田")
              //- 農田6
              .farm-6
                img(src="images/farm_4.png", alt="農田")
              //- 農田7
              .farm-7
                img(src="images/farm_5.png", alt="農田")
              //- 農田8
              .farm-8
                img(src="images/farm_6.png", alt="農田")
              //- 農田9
              .farm-9
                img(src="images/farm_7.png", alt="農田")
              //- 農田10
              .farm-10
                img(src="images/farm_7.png", alt="農田")
              //- 農田11
              .farm-11
                img(src="images/farm_7.png", alt="農田")
              //- 農田12
              .farm-12
                img(src="images/farm_8.png", alt="農田")
              //- 農田13
              .farm-13
                img(src="images/farm_8.png", alt="農田")
              //- 農田14
              .farm-14
                img(src="images/farm_8.png", alt="農田")
              //- 農田15
              .farm-15
                img(src="images/farm_8.png", alt="農田")
              //- 農田16
              .farm-16
                img(src="images/farm_9.png", alt="農田")
              //- 籬笆1
              .farm-frame-1 
                img(src="images/farm_frame_1.png", alt="籬笆")
              //- 籬笆2
              .farm-frame-2 
                img(src="images/farm_frame_2.png", alt="籬笆")
              //- 農舍1
              .farm-house-1 
                img(src="images/farm_house_1.png", alt="農舍")
              //- 農舍2
              .farm-house-2 
                img(src="images/farm_house_2.png", alt="農舍")
              //- 農舍3
              .farm-house-3 
                img(src="images/farm_house_3.png", alt="農舍")
              //- 農舍4
              .farm-house-4 
                img(src="images/farm_house_4.png", alt="農舍")
              //- 農舍5
              .farm-house-5 
                img(src="images/farm_house_5.png", alt="農舍")
              //- 山1
              .mountain-1 
                img(src="images/mountain_1.png", alt="山")
              //- 山2
              .mountain-2 
                img(src="images/mountain_2.png", alt="山")
              //- 山3
              .mountain-3 
                img(src="images/mountain_3.png", alt="山")
              //- 山4
              .mountain-4 
                img(src="images/mountain_4.png", alt="山")
              //- 機車1
              .bike.bike-road-1(data-path="t") 
                img(src="images/bike_0_0_t.png", alt="")
              //- 機車2
              .bike.bike-road-2(data-path="r") 
                img(src="images/bike_0_0_r.png", alt="")
              //- 機車3
              .bike.bike-road-3(data-path="l") 
                img(src="images/bike_0_0_l.png", alt="")
              //- 機車4
              .bike.bike-road-4(data-path="r") 
                img(src="images/bike_0_0_r.png", alt="")
              //- 機車5
              .bike.bike-road-5(data-path="l") 
                img(src="images/bike_0_0_l.png", alt="")
              //- 機車6
              .bike.bike-road-6(data-path="b") 
                img(src="images/bike_0_0_b.png", alt="")
              //- 機車7
              .bike.bike-road-7(data-path="l") 
                img(src="images/bike_0_0_l.png", alt="")
              //- 機車8
              .bike.bike-road-8(data-path="b") 
                img(src="images/bike_0_0_b.png", alt="")
              //- 機車9
              .bike.bike-road-9(data-path="t") 
                img(src="images/bike_0_0_t.png", alt="")
              //- 汽車1
              .car-l
                img(src="images/car_l.png", alt="汽車")
              //- 汽車2
              .car-r
                img(src="images/car_r.png", alt="汽車")
              //- 巴士1
              .bus-r
                img(src="images/bus_r.png", alt="巴士")
              //- 巴士2
              .bus-t
                img(src="images/bus_t.png", alt="巴士")
              //- 屋子1
              .building-house-1 
                img(src="images/building_house_1.png", alt="屋子")
              //- 屋子2
              .building-house-2
                img(src="images/building_house_2.png", alt="屋子")
              //- 中心建築
              .building-center 
                img(src="images/building_center.png", alt="中心建築")
                .building-center-land 
                  img(src="images/building_center_land.png", alt="")
                .building-center-balloon-1 
                  img(src="images/building_center_balloon.png", alt="")
                .building-center-house
                  img(src="images/building_center_house.png", alt="")
                .building-center-balloon-2 
                  img(src="images/building_center_balloon.png", alt="")
                .building-center-board
                  img(src="images/building_center_board.png", alt="")
                .building-center-mark
                  img(src="images/building_center_mark.png", alt="")
              //- 加油站
              .building-gas-station
                img(src="images/building_gas_station.png", alt="加油站")
              //- 學校
              .building-school 
                img(src="images/building_school.png", alt="學校")
              //- YSP
              .building-ysp 
                img(src="images/building_ysp.png", alt="YSP")
              //- 體育場
              .building-stadium 
                img(src="images/building_stadium.png", alt="體育場")
              //- 電影院
              .building-cinemas
                img(src="images/building_cinemas.png", alt="電影院")
              //- 郝家
              .building-good-home
                img(src="images/building_good_home.png", alt="郝家")
              //- 社區
              .building-community
                img(src="images/building_community.png", alt="社區")
              //- 商店
              .building-store
                img(src="images/building_store.png", alt="商店")
              //- 商場
              .building-mall
                img(src="images/building_mall.png", alt="商場")
              //- 老街
              .building-street
                img(src="images/building_street.png", alt="老街")

              //- 旗標
              a.flag.flag-1(href="#" data-popup="school")
              a.flag.flag-2(href="https://www.yamaha-motor.com.tw/", target="_blank")
              a.flag.flag-3(href="#" data-popup="stadium")
              a.flag.flag-4(href="https://www.yamaha-motor.com.tw/", target="_blank")
              a.flag.flag-5(href="#" data-popup="mall")
              a.flag.flag-6(href="#" data-popup="good_home")
              a.flag-main(href="https://www.yamaha-motor.com.tw/", target="_blank")

              //- popup
              .popup
                .popup-good-home 
                  .group
                    .man-1 
                      img(src="images/man_1.png", alt="")
                    .man-2 
                      img(src="images/man_2.png", alt="")
                    .man-3 
                      img(src="images/man_3.png", alt="")
                    .man-4 
                      img(src="images/man_4.png", alt="")
                    .man-5 
                      img(src="images/man_5.png", alt="")
                    .man-talk 
                      img(src="images/man_talk.png", alt="")
                    .btn-close 
                      img(src="images/icon_close.png", alt="")
                .popup-basic
                  .pic.pic-0-school 
                    img(src="images/pic.png", alt="") 
                  .pic.pic-0-mall 
                    img(src="images/pic.png", alt="") 
                  .pic.pic-0-stadium 
                    img(src="images/pic.png", alt="") 
                  .pic.pic-1-school 
                    img(src="images/pic.png", alt="") 
                  .pic.pic-1-mall 
                    img(src="images/pic.png", alt="") 
                  .pic.pic-1-stadium 
                    img(src="images/pic.png", alt="") 
                  p.des.des-0-school 送完郝嘉在去上學後，媽媽自言自語到：「希望郝嘉在長大後也能腳踏實地做人，和這台車一樣！」 
                  p.des.des-0-mall 阿公拿著裝滿滿的購物袋從賣場走出來一邊和阿嬤說到：「好加在JOG的置腳空間很夠，這樣就可以輕鬆放啦！」
                  p.des.des-0-stadium 媽媽輕輕鬆鬆立起中柱，帥氣停車，心中竊喜：
                    |
                    br
                    | 「吼～這台車怎麼這麼輕啦，太好立了吧，我真帥！」  
                  p.des.des-1-school 送兒子到學校後，爸爸輕拍機車座椅說到：「好加在是加大坐墊，坐起來真的舒服！」
                  p.des.des-1-mall 置物箱裡裝著滿滿的東西，吃的喝的還有背包…
                    |
                    br
                    | 爸爸碎念：「都要沒地方裝了…好加在這台車夠大。」
                  p.des.des-1-stadium 當爸爸要抵達時，爸爸載著郝嘉在緩緩煞停「好加在有UBS岔車系統，好穩！」
                  .btn-close 關閉


    .select-bike
      .select-container 
        .select-container-head 
          .title 
            img(src="images/select_title.png", alt="歡迎來到郝家在社區")
          .talk
            .talk-1 
              img(src="images/select_talk_1.png", alt="歡迎來到郝家在社區！一起陪媽媽創造美好回憶！")
            .talk-2 
              img(src="images/select_talk_2.png", alt="參加YAMAHA母親節活動！就有機會讓媽媽把JOG騎回家！")
        .select-container-step.step-1
          p 請選擇您的愛車！
          ul 
            li 
              img(src="images/select_bike_1.png", alt="JOG 125")
            li 
              img(src="images/select_bike_2.png", alt="勁豪 125")
          a(href="#") 繼續
        .select-container-step.step-2
          p 請選擇愛車顏色！
          ul.color-1 
            li 
              img(src="images/select_color_1_1.png", alt="白色")
            li 
              img(src="images/select_color_1_2.png", alt="紫色")
            li 
              img(src="images/select_color_1_3.png", alt="灰色")
          ul.color-2 
            li 
              img(src="images/select_color_2_1.png", alt="藍色")
            li 
              img(src="images/select_color_2_2.png", alt="黑色")
            li 
              img(src="images/select_color_2_3.png", alt="灰色")
          a(href="#") 繼續

    .loading
    //- .grid 
      .vertical 
        .line 
        .line 
        .line 
        //- .line
      .horizontal
        .line 
        .line 
        .line 
        //- .line

    script(src="js/vendor/jquery.min.js")
    script(src="js/vendor/jquery.html5Loader.min.js")
    script(src="js/vendor/jquery.scrollTo.min.js")
    script(src="js/vendor/TweenMax.min.js")
    script(src="js/index.js")